# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.gradle/checksums/sha1-checksums.bin
/.idea/gradle.xml
/.gradle/6.7/executionHistory/executionHistory.bin
/.gradle/configuration-cache/gc.properties
/.gradle/6.7/executionHistory/executionHistory.lock
/.gradle/6.7/fileHashes/fileHashes.bin
/.gradle/6.7/fileHashes/fileHashes.lock
/.gradle/6.7/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/.gitignore
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/.gradle/6.7/javaCompile/classAnalysis.bin
/.idea/modules/Codeforces.iml
/.idea/compiler.xml
/.gradle/6.7/javaCompile/javaCompile.lock
/.gradle/6.7/fileChanges/last-build.bin
/.gradle/checksums/md5-checksums.bin
/.idea/misc.xml
/.idea/modules.xml
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/6.7/javaCompile/taskHistory.bin
/.idea/vcs.xml
/.idea/jarRepositories.xml
/build/tmp/compileJava/source-classes-mapping.txt
/.idea/checkstyle-idea.xml
/.idea/modules/Codeforces.main.iml
/.PVS-Studio/settings.json
/.idea/sonarlint/
/.idea/aws.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/workspace.xml
/.idea/uiDesigner.xml
/.idea/codeStyles/Project.xml
